{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
{% for table in args.tables %}
<h2>{{ table.title }}</h2>
<table id="table_{{ args.id }}_{{ table.id }}">
	<thead>
		<tr>
			{% for column in table.header %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table.rows %}		
			<tr>
				{% for data_item in row %}
					<td>{{ data_item }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<br/>
{% endfor %}
<script>
var firstTime_{{ args.id }} = true;
$(document).on( 'pageshow', function () {
	if (firstTime_{{ args.id }}) {
		firstTime_{{ args.id }} = false;
		{% for table in args.tables %}
		var table{{ table.id }} = $("#table_{{ args.id }}_{{ table.id }}").dataTable( { 
			"sDom": 'T<"clear">t',
			"oTableTools": {
				"sSwfPath": "/static/swf/copy_cvs_xls_pdf.swf"
			}
		});
		{% endfor %}
	}
} );
</script>
{% endblock %}
