<!doctype html>
<html>
  <head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.mobile-1.2.0.min.css')}}" />
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.8.2-min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.mobile-1.2.0.min.js')}}"></script>

	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.css')}}" />
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.columnFilter.js')}}"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/ZeroClipboard.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/TableTools.js')}}"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/d3.layout.cloud.js')}}"></script>
	<title>{% block title %}{% endblock %}</title>
  </head>
<body>
  	<div data-role="page">
		<div data-role="header">
			<h1>Beedle Team: {{ args.dataset }}</h1>
			<div data-role="navbar">
				<ul>
			    		<li><a href="/statistics">Statistics</a></li>
				</ul>
		    	</div>
		</div>

		<div data-role="content">
			<div style="max-width:800px; margin:0 auto;">
				{% block content %}{% endblock %}
			</div>
			<div style="width: 100%">
				{% block fullwidth %}{% endblock %}
			</div>
		</div>
	</div>
</body>
