{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<ul data-role="listview" data-inset="true" style="margin-top:40px">
		    <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
		    <li><a href="/statisticsdetails/publication_author">Publication by Author</a></li>
		    <li><a href="/statisticsdetails/publication_year">Publication by Year</a></li>
		    <li><a href="/statisticsdetails/author_year">Author by Year</a></li>
	</ul>	
{% endblock %}
